#!/usr/bin/env bash
# CCC CODE ClamAV freshclam script
# script path after installation /opt/ccw/bin/freshclam.sh

if [ -x /etc/init.d/clamav-freshclam ]; then
{
    /etc/init.d/clamav-freshclam stop
    freshclam
    /etc/init.d/clamav-freshclam start
} >> /var/log/ccw/clamav.log 2>&1
fi

{{! Zuletzt bearbeitet: 2025-10-27 }}
